html, body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background: linear-gradient(to bottom right, #7023fb, #c3a4fc ) fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

header {
  grid-area: h;
}

main {
  grid-area:m;
}

aside {
  grid-area:a;
}
.meio{
  background:#da89f1;
  grid-area:b;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  justify-content: space-around;
  margin-top: 50px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

footer {
  grid-area:f;
  align-items: center;
}
footer p{
  margin-left: 50vw;
  font-size: 20px;
  margin-left: 10px;
  color: white;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.canto-esquerdo{
    grid-area:ce;	
}
.centro{
   grid-area:me;	
}
.centro.img{
	justify-self:center;
}
.canto-direito{
    grid-area:cd;	
}

.container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 40vh 30vh;
  grid-template-areas: 
  			"ce . cd"
  			"ce me cd"
              "m b a"
              "f f f";
}

.miolo{
	background:#7126b7;
	display: grid;
	grid-template-columns: 1fr 21r;
	grid-template-rows: 5vh 5vh;
	height: 10vh;
	border-radius: 10px;
	grid-column-gap: 10vh;

}
.titulo{
	font-size: 20px;
	margin-left: 10px;
	color: white;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 

}
.ano{
	font-size: 20px;
	margin-left: 10px;
	color: white;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.nota{
	font-size: 20px;
	margin-bottom: 0vh;
	margin-left: 500px;
	color: white;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 

}
/**@media screen and (max-width:700px)
{
  .meio{
    width: 75%;
    height: 75%;
    overflow: visible;
    overflow-y: none;
  }
  .centro img{
    width: 75%;

  }
  div , h1, h2{
    width: 75%;
    height: 75%;
  }
}*/

